*{
   margin: 0;
   padding: 0;
 

}

#conteudo{
   display: flex;
   justify-content: space-between;
}

.cartao{
   
   color: black;
   height: 20rem;
   flex-grow: 1;
   flex-basis: calc(33% - 6rem);
   margin: 1rem 1rem;
   font-size: 20px;
   text-align: center;
   padding: 10px;
   
}

footer{

   background-color: black;
   color: white;
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 25px;
   font-size: 15px;
   text-align: center;
   padding-top: 2px;



}

.cartao:hover .cartao--conteudo{
   background-color: #8A9BAD;
   transform: rotateY(180deg);
}

.cartao--conteudo{

   background-color: #99ABBF;
   border-radius: 20px;
   height: 100%;
   transform-style: preserve-3d;
   transition: transform 300ms ease-in-out;

}

.cartao--pergunta, .cartao--resposta{

   backface-visibility: hidden;
}

.cartao--resposta{

   transform: rotateY(180deg);
}














